# Byte-compiled / optimized / DLL files
**.__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs
*.log

**.DS_Store
Week 1/CV_Week_1.pdf
